body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/backgroundzoo.jpg');
    background-size: cover;
    z-index: -1;
}

h1 {
    text-align: center;
    color: black;
    margin-top: 50px;
    font-size: 50px;
}

.category {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h2 {
    color: #22d6e6;
    font-size: 30px;
}

.animal-list {
    list-style-type: none;
    padding: 0;
}

.animal-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    font-size: 20px;
}

.animal-list img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}
